body {
    background: linear-gradient(135deg, #645bff, #00c3ff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: Poppins, sans-serif;
  }
  
  .app-container {
    text-align: center;
  }
  
  .buttons .btn {
    background: white;
    color: black;
    padding: 8px 20px;
    border-radius: 20px;
    margin: 5px;
    border: none;
    cursor: pointer;
    font-weight: bold;
  }
  
  .arrow {
    width: 0;
    height: 0;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 25px solid black;
    margin: 15px auto -10px;
    z-index: 10;
  }
  
  .wheel {
    width: 350px;
    height: 350px;
    border-radius: 50%;
    border: 5px solid white;
    position: relative;
    transition: transform 4s ease-out;
    overflow: hidden;
  }
  
  .wheel div {
    position: absolute;
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    transform-origin: 0% 0%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    /* deixa o texto sempre no centro da fatia */
    padding: 0 20px;
  }
  
  .wheel div span {
    position: absolute;
    transform-origin: center;
    font-size: 15px;
    font-weight: bold;
    width: 120px;        /* controla área do texto */
    text-align: center;  /* alinha bem */
    color: white;
  }
  
  
  .spin-btn {
    margin-top: 30px;
    padding: 10px 30px;
    border: none;
    background: white;
    color: black;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
  }
  
  .resultado {
    margin-top: 15px;
    font-size: 20px;
  }
  